.header {
    margin: 0;
     
}

.top-nav {
    width: 1440px;
height: 80px;
border-bottom: 1px solid #EBE8F4;
box-sizing: border-box;

margin: 0;
padding: 0;
display: flex;
justify-content: space-between;
align-items: center;

}

.title {
    color: #22202E;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

 padding-left: 80px;


}

a {
    text-decoration: none;
}



.title-list {
   display: flex;
}

.title-text {
    display: block;
    padding: 30px ;

    color: #726E8D;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.image {
    padding-right: 80px;
   
}

.img-1,
.img-2,
.img-3 {
    padding: 16px;
}

/* MENU */

.menu {
    display: flex;
    width: 1280px;
    height: 64px;
    padding: 8px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 417px;
    flex-shrink: 0;

    color: #2A254B;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}

.menu-title {
    display: flex;
    justify-content: center;
    padding: 80px;
    padding-bottom: 24px;

    color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 140%; 

}

.menu-list {
 display: flex;
width: 1280px;
height: 64px;
justify-content: center;
}

.menu-nav {
    display: flex;
    align-items: center;
    padding-top: 12px;
    
}

.scrol-1 {
    padding-left: 16px;
    width: 70px;
    height: 21px;
}

.drop-list {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 12px 24px;
    margin-left: 12px;
    background-image: url(/img/Caret--down.jpg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: right center;
    

}


.drop-list-1 {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 12px 24px;
    background-image: url(/img/Caret--down.jpg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: right center;
    
    
}


.scrol-1 {
    color: var(--Dark-Primary, #2A254B);
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}

/*  */

.main {
margin: 0 ;


}

.conteiner {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-flow: dense;

    position: relative;

    
}

.grid {
    display: flex;
width: 1440px;
height: 1530px;
padding: 28px 0px 20px ;
justify-content: center;

}

.text-grid {
    padding-bottom: 8px;

    color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
}

.price {
    color: var(--Dark-Primary, #2A254B);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}

/* button-medium */

.medium {
display:flex;
width: 175px;
height: 56px;
align-items: center;
justify-content: center;
 
background: var(--Light-Grey, #F9F9F9);
border: none;

color: #2A254B;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}

.button {
 position: absolute;
 bottom: 0;
 left: 43%;
bottom: -1%;
margin: 20px; 




}

/* lasst */

.last-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    
    gap: 0px;
}

.image {
    margin: 0;
    padding: 0;
}

.last-photo {
    width: 720px;
height: 521px;
flex-shrink: 0;
}


.content {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.signup {
    

   position: relative;
   
   padding-top: 216px;
   padding-left: 72px;

   display: flex;
  

}

.last-button {
    display: flex;
padding: 16px 32px;

align-items: center;

background: var(--Dark-Primary, #2A254B);

color: var(--White, #FFF);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 

width: 120px;
height: 56px;




}

.input {
    width: 472px;
    height: 54px;

    border: none;
}

.title-last {
    color: var(--Dark-Primary, #2A254B);
text-align: center;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;


}

.last-text {
    color: var(--Dark-Primary, #2A254B);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 

max-width: 400px;
margin-top: 21px;


}

.content-in {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 71px;
   margin-left: 49px ;

}

/* footer */

.content-footer {

    width: 1440px;
    height: 380px;

    display: flex;
    flex-direction: row;
    align-items: center;

    background: var(--Dark-Primary, #2A254B);
}

li {
    color: var(--White, #FFF);
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
list-style: none;
margin-bottom: 12px;
}

.list-1,
.list-2,
.list-3 {
    padding-left: 100px;
}

.map {
    width: 642px;
height: 195px;
padding-left: 150px;
}

.title-items {
    color: var(--White, #FFF);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.horizontal-line {
   position: absolute;
    width: 1277px;
height: 1px;
background-color: #4E4D93;

align-self: flex-end;
margin-left: 80px;
margin-bottom: 68px;

}

.end {
    color: var(--White, #FFF);
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.footer-content {
    position: absolute;
   align-self: flex-end; 
  margin-left: 80px;
  margin-bottom: 25px;
}

.logo-footer {
    margin-left: 845px;
    
}

.logo-f-1 {
   display: inline-block;
    background-image: url(/img-footer/Logo--linkedin.jpg);
    background-size: cover;
    width: 24px;
    height: 24px;
    margin-right: 24px;

}
.logo-f-2 {
    display: inline-block;
     background-image: url(/img-footer/Logo--facebook.jpg);
     background-size: cover;
     width: 24px;
     height: 24px;
     margin-right: 24px;
 
 }
 .logo-f-3 {
    display: inline-block;
     background-image: url(/img-footer/Logo--instagram.jpg);
     background-size: cover;
     width: 24px;
     height: 24px;
     margin-right: 24px;
 
 }
 .logo-f-4 {
    display: inline-block;
     background-image: url(/img-footer/Logo--skype\ \(2\).jpg);
     background-size: cover;
     width: 24px;
     height: 24px;
     margin-right: 24px;
 
 }
 .logo-f-5 {
    display: inline-block;
     background-image: url(/img-footer/Logo--twitter.jpg);
     background-size: cover;
     width: 24px;
     height: 24px;
     margin-right: 24px;
 
 }
 .logo-f-6 {
    display: inline-block;
     background-image: url(/img-footer/Logo--pinterest\ \(10\).jpg);
     background-size: cover;
     width: 24px;
     height: 24px;
     margin-right: 24px;
 
 }
    
 
